.navbar-responsive-collapse{
    background: $blue-dark;
     .navbar-nav {
            margin-left: 0;
            margin-right:0;
            margin-top:0;
            > li {
                border-top:1px solid $color-white;
                &:first-child{
                    border:0;
                }
                > a, > a:hover, a:focus {color:$color-white;}
                &.active {
                   > a, > a:hover, a:focus {
                       color:$color-white;
                       background: $blue-middle;
                   }  
                }
            }
        }
}








/**main navigation ***/
#main-nav {
    @media screen and (min-width:$screen-xs){
       padding-top:2em; 
    }
    
}
.navbar{
    border:0;
    min-height: auto;
}
.navbar-collapse.collapse{
    height:auto;
}

