/* Headlines */
/* line 43, ../scss/settings/typography.scss */
p, .lead {
  font-size: 15px;
  line-height: 1;
  /*    font-size:0.9375rem;*/
  font-weight: normal;
}

/* line 49, ../scss/settings/typography.scss */
.kursiv {
  font-style: italic;
  font-size: 0px;
  line-height: 15px;
}

/* Kleinerer Text */
/* line 55, ../scss/settings/typography.scss */
.s {
  font-size: 0.9em;
}

/* Headlines */
/* line 43, ../scss/settings/typography.scss */
p, .lead {
  font-size: 15px;
  line-height: 1;
  /*    font-size:0.9375rem;*/
  font-weight: normal;
}

/* line 49, ../scss/settings/typography.scss */
.kursiv {
  font-style: italic;
  font-size: 0px;
  line-height: 15px;
}

/* Kleinerer Text */
/* line 55, ../scss/settings/typography.scss */
.s {
  font-size: 0.9em;
}

/*** resets ***/
/* line 5, ../scss/settings/extensions.scss */
.reset-border {
  border: 0;
  border-color: transparent;
}

/* line 9, ../scss/settings/extensions.scss */
.foo-bar, body > header .row.brand {
  border-left: 1px solid red;
  border-right: 1px solid red;
}

/**Sticky Footer***/
/**** carousel****/
/***box attributes***/
/*** Shadow ***/
/* line 30, ../scss/settings/extensions.scss */
.shadow {
  -webkit-box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0);
}

/* line 34, ../scss/settings/extensions.scss */
.inset {
  text-shadow: -1px -1px 0px #202020, 1px 1px 0px white;
}

/**** caret ****/
/**** social media icons ****/
/*** Fontawesome Icons ***/
/*-----------------------Colors-------------------------- */
/* line 5, ../scss/gflStyle.scss */
body {
  background: #6196ca;
}
/* line 7, ../scss/gflStyle.scss */
body > section {
  background: white;
}
/* line 9, ../scss/gflStyle.scss */
body > section > footer {
  background: #94b8db;
}
/* line 11, ../scss/gflStyle.scss */
body > section > footer * {
  color: white !important;
}

/* line 17, ../scss/gflStyle.scss */
a, a:link, a:visited {
  color: #6196ca;
}
/* line 19, ../scss/gflStyle.scss */
a:hover, a:link:hover, a:visited:hover {
  color: #00376c;
}

/*-----------------------Layout-------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
/* line 26, ../scss/gflStyle.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 30, ../scss/gflStyle.scss */
body {
  /* Margin bottom by footer height */
  margin-bottom: 260px;
}
/* line 33, ../scss/gflStyle.scss */
body .custom-background {
  background-size: 80% auto;
  background-position: top right !important;
}

/* line 38, ../scss/gflStyle.scss */
body > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #6196ca;
  /* Set the fixed height of the footer here */
  height: 260px;
}
/* line 45, ../scss/gflStyle.scss */
body > footer * {
  color: white !important;
}

/*------------------------------------------------- */
/* Globals
-------------------------------------------------- */
/* line 52, ../scss/gflStyle.scss */
html, body {
  font-size: 100%;
}

/* line 55, ../scss/gflStyle.scss */
body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/* line 61, ../scss/gflStyle.scss */
a, a:link {
  text-decoration: none;
  cursor: pointer;
}
/* line 64, ../scss/gflStyle.scss */
a:hover, a:focus, a:link:hover, a:link:focus {
  outline: none;
}
/* line 67, ../scss/gflStyle.scss */
a img, a:link img {
  border: 0px;
}

/* line 69, ../scss/gflStyle.scss */
b, .bold {
  font-weight: bold;
}

/* line 72, ../scss/gflStyle.scss */
img, a img {
  border: 0;
}

/* Absaetze */
/* line 76, ../scss/gflStyle.scss */
p {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.45;
}

/* Kleinerer Text */
/* line 83, ../scss/gflStyle.scss */
.s {
  font-size: 0.9em;
}

/* Headlines */
/* line 87, ../scss/gflStyle.scss */
h1, h2, h3, h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #6196ca;
  line-height: 1;
  font-weight: 600;
}

/* line 90, ../scss/gflStyle.scss */
h1 {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: #00376c;
}

/* line 96, ../scss/gflStyle.scss */
h2 {
  font-size: 15px;
  font-weight: 700;
}

/* line 100, ../scss/gflStyle.scss */
h3 {
  font-size: 15px;
}

/* line 104, ../scss/gflStyle.scss */
h4 {
  font-size: 15px;
}

/*** Forms ***/
/* line 109, ../scss/gflStyle.scss */
#s.form-control {
  width: 70%;
  margin: 0 5%;
}

/**** other ****/
/* line 115, ../scss/gflStyle.scss */
blockquote {
  margin: 1em 10px;
  padding: .5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
/* line 120, ../scss/gflStyle.scss */
blockquote p:before, blockquote p:after {
  font-size: large;
}
/* line 122, ../scss/gflStyle.scss */
.carousel blockquote p:before, .carousel blockquote p:after {
  font-size: 6em;
  line-height: 0.1em;
  vertical-align: -0.4em;
  opacity: .5;
}
/* line 129, ../scss/gflStyle.scss */
blockquote p:before {
  content: open-quote;
  float: left;
}
/* line 133, ../scss/gflStyle.scss */
blockquote p:after {
  content: close-quote;
  float: right;
}
/* line 137, ../scss/gflStyle.scss */
blockquote p * {
  display: inline;
}
/* line 141, ../scss/gflStyle.scss */
#carousel-top-fold blockquote {
  margin: 160px 2em 0 2em;
  padding: 0.2em;
  border: 0;
  width: 70%;
}
/* line 146, ../scss/gflStyle.scss */
#carousel-top-fold blockquote h2 {
  margin-top: 0;
}
/* line 150, ../scss/gflStyle.scss */
#carousel-top-fold blockquote p:before, #carousel-top-fold blockquote p:after {
  font-size: 1.1em;
}
/* line 154, ../scss/gflStyle.scss */
#carousel-top-fold blockquote * {
  text-align: left !important;
}

/* line 159, ../scss/gflStyle.scss */
a.btn-primary {
  color: white;
}

/* line 163, ../scss/gflStyle.scss */
.scroll-to-top {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  bottom: 4%;
  color: white;
  cursor: pointer;
  display: none;
  font-size: large;
  padding: 2px 10px;
  position: fixed;
  right: 20px;
  transition: background-color 0.1s linear 0s;
  z-index: 9999;
}
/* line 176, ../scss/gflStyle.scss */
.scroll-to-top:hover {
  background: #00376c;
  opacity: 0.8;
}

/* ----------------------------*/
/* CUSTOM CLASSES */
/* ----------------------------*/
/* line 185, ../scss/gflStyle.scss */
.lead {
  font-size: 1em;
  font-size: inherit;
  font-weight: normal;
}

/* line 190, ../scss/gflStyle.scss */
.kursiv {
  font-style: italic;
  font-size: 11px;
  line-height: 19px;
}

/* line 196, ../scss/gflStyle.scss */
.inset {
  text-shadow: -1px -1px 0px #202020, 1px 1px 0px white;
}

/* line 198, ../scss/gflStyle.scss */
.tags a {
  color: #00376c;
  font-weight: normal;
  font-size: small;
  font-style: italic;
  background: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0 1em;
}
/* line 206, ../scss/gflStyle.scss */
.tags a:hover, .tags a:focus, .tags a[href]:hover, .tags a[href]:focus {
  color: white;
  background: #00376c;
  opacity: .5;
}

/* line 212, ../scss/gflStyle.scss */
.shadow {
  -webkit-box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

/* line 218, ../scss/gflStyle.scss */
[class*="col"] > img,
.item > img,
.wp-post-image {
  max-width: 100%;
  height: auto;
}

/*--------------------------------------------------
LAYOUT
--------------------------------------------------*/
/* line 226, ../scss/gflStyle.scss */
.container {
  padding: 0;
}

/* line 230, ../scss/gflStyle.scss */
body > header {
  height: 420px;
  position: relative;
  overflow: hidden;
}
/* line 234, ../scss/gflStyle.scss */
body > header .logo {
  /*            margin:0 1em;*/
  display: block;
}
/* line 241, ../scss/gflStyle.scss */
body > header .row.banner [class*="col"] {
  padding: 0;
}
/* line 244, ../scss/gflStyle.scss */
body > header .row.banner:after {
  background: url("../img/maske.svg") no-repeat scroll center center transparent;
  background-size: 100% auto;
  content: " ";
  display: block;
  height: 250px;
  left: 0;
  bottom: -20px;
  position: absolute;
  width: 100%;
  z-index: 20;
}
/* line 257, ../scss/gflStyle.scss */
body > header .row.brand {
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  margin: 0;
}
/* line 266, ../scss/gflStyle.scss */
body > header .row.brand [class*='col-'] {
  height: 100%;
}
/* line 269, ../scss/gflStyle.scss */
body > header .row.brand #meta-nav {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 277, ../scss/gflStyle.scss */
body.home > header {
  background-color: #6196ca;
}

/* line 282, ../scss/gflStyle.scss */
.no-svg.row.banner:after {
  background: url("../img/maske.png") no-repeat scroll center center transparent;
  background-size: 100% auto;
}

/* line 286, ../scss/gflStyle.scss */
#brand {
  width: 100%;
  min-height: 115px;
  background: url("../img/brand.svg") no-repeat scroll center center transparent;
  background-size: 100% auto;
  text-indent: -800px;
  display: block;
  overflow: hidden;
  margin-left: 1em;
}
/* line 295, ../scss/gflStyle.scss */
#brand.no-svg {
  background: url("../img/brand.png") no-repeat scroll center center transparent;
  background-size: 100% auto;
}

/* line 300, ../scss/gflStyle.scss */
#meta-nav {
  bottom: 0;
  position: absolute;
  right: 0;
}

/**main navigation ***/
/* line 306, ../scss/gflStyle.scss */
#main-nav {
  padding-top: 2em;
}

/* line 309, ../scss/gflStyle.scss */
.navbar {
  border: 0;
  min-height: auto;
}

/* line 313, ../scss/gflStyle.scss */
.navbar-collapse.collapse {
  height: auto;
}

/* line 316, ../scss/gflStyle.scss */
.navbar-default {
  background: white;
}
/* line 318, ../scss/gflStyle.scss */
.navbar-default.navbar-fixed-top {
  background: #00376c;
  height: 44px;
}
/* line 321, ../scss/gflStyle.scss */
.navbar-default.navbar-fixed-top a {
  color: white !important;
}
/* line 322, ../scss/gflStyle.scss */
.navbar-default.navbar-fixed-top .navbar-brand {
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 44px;
  padding: 0 1em;
}
/* line 330, ../scss/gflStyle.scss */
.navbar-default.navbar-fixed-top, .navbar-default.navbar-fixed-top * {
  border-bottom: 0 !important;
}

/* line 335, ../scss/gflStyle.scss */
.nav-hover, .nav-tabs.nav-justified > li.active > a, .nav-tabs.nav-justified > li.active a:hover, .nav-tabs.nav-justified > li.active a:focus, .nav > li > a:hover {
  background: #6196ca;
  color: white;
}

/* line 339, ../scss/gflStyle.scss */
.dropdown-hover, .nav-tabs.nav-justified
.dropdown-menu > li > a:hover, .nav-tabs.nav-justified
.dropdown-menu > li > a:focus, .nav-tabs.nav-justified
.dropdown-menu > li > a:hover .caret, .nav-tabs.nav-justified
.dropdown-menu > li > a:focus .caret {
  color: #00376c !important;
  background: transparent;
}

/* line 343, ../scss/gflStyle.scss */
.nav-tabs.nav-justified {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 356, ../scss/gflStyle.scss */
.nav-tabs.nav-justified > li a .caret {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: currentColor;
  border-width: 6px;
  border-style: solid;
  margin-bottom: 5px;
}

/* line 371, ../scss/gflStyle.scss */
.caret {
  margin-left: .5em;
}

/* line 375, ../scss/gflStyle.scss */
.nav-tabs.nav-justified
.dropdown-menu {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: #6196ca !important;
  word-wrap: break-word;
  border-left: 1px solid white;
  left: -1px;
}
/* line 383, ../scss/gflStyle.scss */
.nav-tabs.nav-justified
.dropdown-menu a {
  white-space: normal;
  max-width: 600px;
  min-width: 200px;
  padding-top: .5em;
  padding-bottom: .5em;
}
/* line 389, ../scss/gflStyle.scss */
.nav-tabs.nav-justified
.dropdown-menu a.call-to-action {
  background: #ba002b;
}
/* line 391, ../scss/gflStyle.scss */
.nav-tabs.nav-justified
.dropdown-menu a.call-to-action:hover {
  color: inherit;
  background: inherit;
}
/* line 397, ../scss/gflStyle.scss */
.nav-tabs.nav-justified
.dropdown-menu a, .nav-tabs.nav-justified
.dropdown-menu .caret {
  color: white !important;
}
/* line 399, ../scss/gflStyle.scss */
.nav-tabs.nav-justified
.dropdown-menu > li {
  /*border-bottom:1px solid white;*/
}
/* line 408, ../scss/gflStyle.scss */
.nav-tabs.nav-justified
.dropdown-menu > li:first-child {
  margin-top: 0;
}
/* line 411, ../scss/gflStyle.scss */
.nav-tabs.nav-justified
.dropdown-menu > li:last-child {
  margin-bottom: 0;
  border: 0;
}

/* line 417, ../scss/gflStyle.scss */
ul.nav .dropdown > .dropdown-menu .caret {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: currentColor;
  border-width: 6px;
  border-style: solid;
}

/*** Mega Menu ***/
/* line 421, ../scss/gflStyle.scss */
ul#menu-hauptmenu {
  /*    .dropdown-menu{
          display:-webkit-flex;
          display:flex;
      }
      > li {
          > .dropdown-menu{
              flex-direction:row;
              > li{
                  .dropdown-menu{
                      flex-direction:column;
                  }
              }
          }
      }*/
}
/* line 422, ../scss/gflStyle.scss */
ul#menu-hauptmenu li {
  position: static;
}
/* line 428, ../scss/gflStyle.scss */
ul#menu-hauptmenu > li.active > .dropdown-menu > li, ul#menu-hauptmenu > li:hover > .dropdown-menu > li {
  display: table-cell;
  min-width: 1%;
}
/* line 433, ../scss/gflStyle.scss */
ul#menu-hauptmenu > li.active > .dropdown-menu .dropdown-menu, ul#menu-hauptmenu > li:hover > .dropdown-menu .dropdown-menu {
  width: 100%;
  background: red;
  left: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

/*** meta menu ***/
/* line 464, ../scss/gflStyle.scss */
#menu-meta-menu.navbar-nav li a {
  border-bottom: 3px solid white;
}
/* line 466, ../scss/gflStyle.scss */
#menu-meta-menu.navbar-nav li a:hover {
  background-color: transparent;
  border-bottom-color: #00376c;
  color: #00376c;
}

/*** breadcrumb***/
/* line 478, ../scss/gflStyle.scss */
#breadcrumb {
  font-size: smaller;
  font-style: italic;
}

/*** Content ***/
/* line 484, ../scss/gflStyle.scss */
section[role="content"] [class*='col-'] article .teaser-header * {
  color: #00376c;
}

/* line 487, ../scss/gflStyle.scss */
section[role="panels"] [class*='col-'] {
  min-height: 400px;
  margin: 2em 0;
  display: block;
}
/* line 491, ../scss/gflStyle.scss */
section[role="panels"] [class*='col-'] article {
  padding: 1em;
}
/* line 493, ../scss/gflStyle.scss */
section[role="panels"] [class*='col-'] article:hover {
  background: rgba(148, 184, 219, 0.5);
}

/*** Widgets ***/
/* line 500, ../scss/gflStyle.scss */
.thumbnail {
  border: 1px solid #cccccc;
  margin: 0 1em;
  padding: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 507, ../scss/gflStyle.scss */
.widget ul {
  padding: 0;
}
/* line 509, ../scss/gflStyle.scss */
.widget ul li {
  list-style: none;
  margin-left: 0;
}
/* line 515, ../scss/gflStyle.scss */
.widget.widget_recent_work {
  margin: 1em;
  padding: 1em;
  border: 1px solid #cccccc;
}
/* line 519, ../scss/gflStyle.scss */
.widget.widget_recent_work li {
  margin: 1em;
  text-align: center;
}
/* line 524, ../scss/gflStyle.scss */
body > footer .widget {
  font-size: 14px !important;
  line-height: 24px !important;
}
/* line 525, ../scss/gflStyle.scss */
body > footer .widget:last-child {
  float: right;
}
/* line 528, ../scss/gflStyle.scss */
body > footer .widget .widgettitle {
  margin-top: 2em;
}

/**** article ****/
/* line 534, ../scss/gflStyle.scss */
article {
  position: relative;
}
/* line 537, ../scss/gflStyle.scss */
article > header .meta {
  font-size: small;
}
/* line 541, ../scss/gflStyle.scss */
article:not(.format-gallery) > section {
  border-width: 1px 0;
  border-style: solid;
  border-color: #cccccc;
  padding: .5em 0;
}
/* line 550, ../scss/gflStyle.scss */
article > footer .edit a {
  padding: 0;
}

/***** Page Styles ****/
/* line 559, ../scss/gflStyle.scss */
#page-links {
  border-top: 1px solid #cccccc;
  margin-top: 1em;
  padding: 1em 0;
  font-style: italic;
}
/* line 564, ../scss/gflStyle.scss */
#page-links a {
  display: inline-block;
  font-weight: bold;
}
/* line 567, ../scss/gflStyle.scss */
#page-links a:first-child {
  border: 0;
}

/* line 572, ../scss/gflStyle.scss */
hgroup.page-header {
  border: 0;
}

/** Video Styles **/
/* line 578, ../scss/gflStyle.scss */
.elastic-video {
  position: relative;
  padding-bottom: 55%;
  padding-top: 15px;
  height: 0;
  overflow: hidden;
}
/* line 584, ../scss/gflStyle.scss */
.elastic-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Grid container
 */
/* line 596, ../scss/gflStyle.scss */
#tiles {
  list-style-type: none;
  position: relative;
  /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}
/* line 601, ../scss/gflStyle.scss */
#tiles li {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  width: 350px;
  background-color: white;
  cursor: pointer;
  padding: 1em;
  margin: .5em;
  border: 1px solid #cccccc;
  /*    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
      box-shadow: 0 0 2px 1px rgba(0,0,0,.2);*/
}
/* line 613, ../scss/gflStyle.scss */
#tiles li * {
  font-size: 100%;
}
/* line 616, ../scss/gflStyle.scss */
#tiles li img {
  max-width: 320px;
  height: auto;
  margin: 0 1em 1em 0;
  min-width: 290px;
}

/***** Carousel ****/
/* line 626, ../scss/gflStyle.scss */
.carousel#carousel-top-fold {
  width: 100%;
  height: 350px;
}
/* line 630, ../scss/gflStyle.scss */
.carousel .carousel-inner {
  height: 350px;
}
/* line 632, ../scss/gflStyle.scss */
.carousel .carousel-inner > .item {
  width: 100%;
  height: 350px;
  position: relative;
}
/* line 636, ../scss/gflStyle.scss */
.carousel .carousel-inner > .item .carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: rgba(0, 55, 108, 0.2);
}
/* line 643, ../scss/gflStyle.scss */
.carousel .carousel-inner > .item .carousel-caption * {
  color: white;
}
/* line 650, ../scss/gflStyle.scss */
.carousel .carousel-indicators {
  top: 1em;
  bottom: auto;
}
/* line 653, ../scss/gflStyle.scss */
.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  background: white;
  border: 0;
  overflow: hidden;
}
/* line 659, ../scss/gflStyle.scss */
.carousel .carousel-indicators li.active {
  opacity: .8;
}
/* line 664, ../scss/gflStyle.scss */
.carousel .carousel-control {
  height: auto;
  background-image: none;
  color: white;
  text-shadow: none;
  top: 1em;
  bottom: auto;
  opacity: 1;
  z-inex: 99999;
}

/***CarouselFred****/
/* line 677, ../scss/gflStyle.scss */
.caroufredsel_wrapper {
  border: 1px solid #cccccc;
  /*    -webkit-box-shadow:inset 1px 1px 6px 2px rgba(0,0,0,.1);
      box-shadow:inset 1px 1px 6px 2px rgba(0,0,0,.1);*/
  width: 100% !important;
}

/* line 683, ../scss/gflStyle.scss */
.list_carousel {
  width: 100%;
}
/* line 685, ../scss/gflStyle.scss */
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
/* line 690, ../scss/gflStyle.scss */
.list_carousel ul li {
  width: 300px;
  height: 200px;
  padding: 0;
  margin: 1em;
  display: block;
  float: left;
}
/* line 697, ../scss/gflStyle.scss */
.list_carousel ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 704, ../scss/gflStyle.scss */
.list_carousel.responsive {
  width: auto;
  margin-left: 0;
}

/* line 709, ../scss/gflStyle.scss */
.clearfix {
  float: none;
  clear: both;
}

/* line 713, ../scss/gflStyle.scss */
.prev, .next {
  margin-top: 10px;
}

/* line 716, ../scss/gflStyle.scss */
.prev {
  float: left;
}

/* line 719, ../scss/gflStyle.scss */
.next {
  float: right;
}

/* line 722, ../scss/gflStyle.scss */
.pager {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99999;
}
/* line 730, ../scss/gflStyle.scss */
.pager a {
  margin: 0 5px;
  text-decoration: none;
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #94b8db;
  opacity: .5;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 741, ../scss/gflStyle.scss */
.pager a.selected {
  opacity: 1;
}

/**** Headlines ***/
/* line 747, ../scss/gflStyle.scss */
.page-header {
  /*    border-bottom: 1px solid #EEEEEE;*/
  margin: 40px 0 20px;
  padding-bottom: 9px;
}

/* line 752, ../scss/gflStyle.scss */
.teaser-header {
  /*    border-bottom: 1px solid #CCCCCC;*/
  margin: 0 0 1em;
}

/**** Tag Cloud ****/
/* line 759, ../scss/gflStyle.scss */
#tag-cloud {
  border-width: 1px 0;
  border-style: solid;
  border-color: #cccccc;
  padding: .5em 0;
}
/* line 764, ../scss/gflStyle.scss */
#tag-cloud a.label {
  background-color: transparent !important;
  font-weight: normal;
  line-height: 1.4;
}
/* line 768, ../scss/gflStyle.scss */
#tag-cloud a.label:hover {
  color: inherit;
  opacity: .5;
}
