$blue:#6196CA;
$blue-dark:#00376C;
$blue-middle:#94b8db;
$blue-middle-darker:#73a8d4;

$color-white:white;
$color-content:$color-white;
$color-text: #333;
$text-color:$color-text;
$color-link: $blue;
$color-headline: $blue;
$color-menu: $blue;
$color-shadow:#202020;
$color-border:#ccc;
$color-call-to-action:#BA002B;
$color-transparent:transparent;

$foo:red;