/* Headlines */
/* Headlines */
h1, h2, h3, h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #6196CA;
  line-height: 1;
  font-weight: 400; }
  body.page #main article.page h1, body.page #main article.page h2, body.page #main article.page h3, body.page #main article.page h4 {
    line-height: 1.2;
    margin-top: 0; }

h1 {
  font-size: 21px;
  /*    @media screen and (max-width:$screen-xs){
      font-size: $font-size-h1 * 0.9;
      }*/
  line-height: 1.4;
  color: #00376C; }
  body.page #main article.page .post_content h1 {
    font-size: 18px; }
  .box article h1 {
    font-size: 18px;
    font-weight: 600; }

h2 {
  font-size: 18px;
  line-height: 1.2; }
  h2 body.page #main article.page .post_content {
    font-size: 16px; }

h3, h4 {
  font-size: 16px; }
  h3 body.page #main article.page .post_content, h4 body.page #main article.page .post_content {
    font-size: 15px; }

h5, h6 {
  font-size: 16px; }

p, .lead {
  font-size: 15px;
  line-height: 1.45;
  font-weight: normal; }

.kursiv {
  font-style: italic;
  font-size: 11.25px;
  line-height: 18.75px; }

/* Kleinerer Text */
.s {
  font-size: 0.8em; }

/* Absaetze */
p {
  font-size: 15px;
  line-height: 1.4; }

/* Headlines */
/* Headlines */
h1, h2, h3, h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #6196CA;
  line-height: 1;
  font-weight: 400; }
  body.page #main article.page h1, body.page #main article.page h2, body.page #main article.page h3, body.page #main article.page h4 {
    line-height: 1.2;
    margin-top: 0; }

h1 {
  font-size: 21px;
  /*    @media screen and (max-width:$screen-xs){
      font-size: $font-size-h1 * 0.9;
      }*/
  line-height: 1.4;
  color: #00376C; }
  body.page #main article.page .post_content h1 {
    font-size: 18px; }
  .box article h1 {
    font-size: 18px;
    font-weight: 600; }

h2 {
  font-size: 18px;
  line-height: 1.2; }
  h2 body.page #main article.page .post_content {
    font-size: 16px; }

h3, h4 {
  font-size: 16px; }
  h3 body.page #main article.page .post_content, h4 body.page #main article.page .post_content {
    font-size: 15px; }

h5, h6 {
  font-size: 16px; }

p, .lead {
  font-size: 15px;
  line-height: 1.45;
  font-weight: normal; }

.kursiv {
  font-style: italic;
  font-size: 11.25px;
  line-height: 18.75px; }

/* Kleinerer Text */
.s {
  font-size: 0.8em; }

/* Absaetze */
p {
  font-size: 15px;
  line-height: 1.4; }

/* Mediaqueries breakpoints */
/*** resets ***/
.border-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.reset-border {
  border: 0;
  border-color: transparent; }

.foo-bar {
  border-left: 1px solid red;
  border-right: 1px solid red; }

/**Sticky Footer***/
/**** carousel****/
.carousel-fade .carousel-inner {
  position: relative;
  height: inherit;
  width: inherit; }
  .carousel-fade .carousel-inner .item {
    transition-property: opacity;
    position: absolute;
    top: 0;
    left: 0; }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0; }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1; }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control {
  z-index: 2; }

/***Tables***/
/***box attributes***/
/**** Flexbox****/
/*** Shadow ***/
.shadow {
  -webkit-box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2); }

.inset {
  text-shadow: -1px -1px 0px #202020, 1px 1px 0px white; }

/**** caret ****/
/**** social media icons ****/
/*** Fontawesome Icons ***/
/*** Transitions ***/
#sfsi-widget-2 {
  display: none; }

/*** Meta Nav Hack ***/
#meta-nav {
  display: flex;
  display: -webkit-flex;
  align-content: flex-end; }
  #meta-nav * {
    line-height: 1.4;
    padding-top: 0;
    padding-bottom: 0; }
  #meta-nav > div {
    flex: 2; }
  #meta-nav > .navbar-form {
    flex: 1;
    margin: 3px 0 0 0; }
    #meta-nav > .navbar-form .form-group {
      display: flex;
      display: -webkit-flex; }
      #meta-nav > .navbar-form .form-group > input {
        flex: 7;
        padding-left: 1em; }
      #meta-nav > .navbar-form .form-group > i {
        flex: 1;
        padding-left: 1em; }
  #meta-nav .navbar-nav {
    font-size: 1em; }
    #meta-nav .navbar-nav > li > a {
      padding: 10px 12px; }

/*# sourceMappingURL=shame.css.map */
